@import url('https://fonts.googleapis.com/css?family=Lato|Raleway:700');
body {
  font-family: 'Lato', sans-serif;
  /*background-color: #ededed;*/
}

h1, h2, h3, h4, h5 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}

#container {
  padding-top: 40px;
}

#sidebar {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}

.nav-item .nav-link {
  color: black;
}

.nav-item .nav-link:hover {
  color: red;
}

.article-text {
  padding: 10px;
}

.article h2 {
  font-size: 1.2rem;
}

.article.card {
  margin-bottom: 20px;
  border-color: black;
  border-radius: 0;
}

.article p {
  font-size: .9rem;
  line-height: 1.4;
}

.article a {
  color: black;
  text-decoration: none;
}

.article a:hover {
  color: red;
}

.article-image {
  object-fit: cover; /* Set article image to be cropped without distortion */
}

#footer p {
  padding-top: 20px;
  font-size: .9rem;
  line-height: 1.4;
}
